{{ ansible_managed | comment }}

[Unit]
Description=arachni service
After=network.target

[Service]
Type=simple
ExecStart={{ conf_arachni['user_home'] }}/bin/arachni_web -o 0.0.0.0
User={{ conf_arachni['user_name'] }}
Group={{ conf_arachni['user_name'] }}
Restart=on-abort

[Install]
WantedBy=multi-user.target

