upstream arachni {
	server 127.0.0.1:9292;
}

server {
	listen	    80;
	server_name {{ conf_arachni['httpd_server_name'] | join(' ') }};

	rewrite ^ https://$host$request_uri permanent;
}

server {
        listen      443 ssl;
        server_name {{ conf_arachni['httpd_server_name'] | join(' ') }};

	ssl_certificate		{{ conf_arachni['httpd_ssl_certificate_path'] }};
	ssl_certificate_key	{{ conf_arachni['httpd_ssl_certificate_key_path'] }};
	ssl_session_cache	shared:ARACHNI:10m;
	ssl_session_timeout	10m;

	proxy_send_timeout 120;
  	proxy_read_timeout 300;
  	proxy_buffering    off;
  	keepalive_timeout  5 5;
  	tcp_nodelay        on;

	client_max_body_size 50G;

        access_log /var/log/nginx/httpd_arachni_ssl_access.log main;
        error_log  /var/log/nginx/httpd_arachni_ssl_error.log;

        location / {
               proxy_pass          http://arachni;
               proxy_redirect      off;
               proxy_buffering     off;
               proxy_set_header    X-Real-IP           $remote_addr;
               proxy_set_header    Host                $host;
               proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
	       proxy_set_header    X-Forwarded-Proto   "https";
        }
}

